[submodule "codespaces/be.this"]
	path = codespaces/be.this
	url = https://github.com/neurons-me/be.this
	branch = main
[submodule "codespaces/this.audio"]
	path = codespaces/this.audio
	url = https://github.com/neurons-me/this.audio
	branch = main
[submodule "codespaces/this.be"]
	path = codespaces/this.be
	url = https://github.com/neurons-me/this.be
	branch = main
[submodule "codespaces/this.dictionaries"]
	path = codespaces/this.dictionaries
	url = https://github.com/neurons-me/this.dictionaries
	branch = main
[submodule "codespaces/this.DOM"]
	path = codespaces/this.DOM
	url = https://github.com/neurons-me/this.DOM
	branch = main
[submodule "codespaces/this.env"]
	path = codespaces/this.env
	url = https://github.com/neurons-me/this.env
	branch = main
[submodule "codespaces/this.GUI"]
	path = codespaces/this.GUI
	url = https://github.com/neurons-me/this.GUI
	branch = main
[submodule "codespaces/this.img"]
	path = codespaces/this.img
	url = https://github.com/neurons-me/this.img
	branch = main
[submodule "codespaces/this.me"]
	path = codespaces/this.me
	url = https://github.com/neurons-me/this.me
	branch = main
[submodule "codespaces/this.pixel"]
	path = codespaces/this.pixel
	url = https://github.com/neurons-me/this.pixel
	branch = main
[submodule "codespaces/this.text"]
	path = codespaces/this.text
	url = https://github.com/neurons-me/this.text
	branch = main
[submodule "codespaces/this.url"]
	path = codespaces/this.url
	url = https://github.com/neurons-me/this.url
	branch = main
[submodule "codespaces/this.video"]
	path = codespaces/this.video
	url = https://github.com/neurons-me/this.video
	branch = main
[submodule "codespaces/this.wallet"]
	path = codespaces/this.wallet
	url = https://github.com/neurons-me/this.wallet
	branch = main
[submodule "codespaces/this.dir"]
	path = codespaces/this.dir
	url = https://github.com/neurons-me/this.dir.git
	branch = main
[submodule "codespaces/this.document"]
	path = codespaces/this.document
	url = https://github.com/neurons-me/this.document.git
	branch = main
[submodule "codespaces/this.blockchain"]
	path = codespaces/this.blockchain
	url = https://github.com/neurons-me/this.blockchain.git
